.divs{
		border:1px solid;
		border-left:0px;
		border-right:0px;
		border-top:0px;
		border-bottom:0px;
		
		
		
}	

#top{
		position:relative;
		width:1922px;
		height:67px;
		margin-left:-10px;
		margin-top:-8px;
		background-color:black;
		
}
nav{
		position:absolute;
		margin-left:340px;
		width:100px;
		height:43px;
		background-color:white;
		color:white;
		padding:0px;
		
}	

nav {
		padding:0px;
		margin-top:1px;
}	
nav li a{
		position:absolute;
		margin-top:10px;
		color:black;
		font-family:Arial;
		font-size:22px;
		text-decoration:none;
}		

#menu{
		position:absolute;
		margin-left:-13px;
		margin-top:-70px;
		height:55px;
		width:1654px;
}	




#image1{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:60px;
		margin-top:120px;
		text-align:center;
		background-color:#f3f3f3;		
		font-family:URW Chancery L, cursive;
		
}	
#image2{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:520px;
		margin-top:120px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
		
}	
#image3{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:980px;
		margin-top:120px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}	
#image4{
	
		position:absolute;
		height:300px;
		width:380px;
		margin-left:1450px;
		margin-top:120px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}	
#image5{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:60px;
		margin-top:550px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}
#image6{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:520px;
		margin-top:550px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}
#image7{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:980px;
		margin-top:550px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}
#image8{
		position:absolute;
		height:300px;
		width:380px;
		margin-left:1450px;
		margin-top:550px;
		text-align:center;
		background-color:#f3f3f3;
		font-family:URW Chancery L, cursive;
}		

body{
		background-image:url("");
			
					
}	